.project-button {
    padding: 1rem 1rem 0 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#home-icon {
    justify-self: flex-end;
    font-size: 24px;

}
.offcanvas-body {
    display: flex;
    flex-direction: column;
    align-content: center;
    overflow-y: scroll;
    background-color: rgb(248, 248, 248);
    margin: 1rem;
    border-radius: 10px;
    border: .1rem solid rgb(248, 248, 248);
    height: 50%;
}

.offcanvas-body::-webkit-scrollbar {
    display: none;
}

.project-item {
    padding: .1rem;
    width: 100%;
    margin: 0 0 .11rem 0;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.add-project-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
}

.add-project:hover {
    font-size: 1.1rem;
    transition: all .15s;
}

.project-name {
    width: 100%;
    text-align: center;
}